@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

body {
  /* min-height: 100vh;
  min-width: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}